/* This is a CSS file */
body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Arial';
}


#container{
    height: auto;
    width: 100%;
}

#header{
    width: 100%;
    height:85px;
    font-family: 'Open Sans';
    background-color: #FFCC66;
}

#contents{
    padding-bottom: 30px;
}

#footer{
    background-color: #FFFFF0;
    height:70px;
    width:100%;
    position: fixed;
    bottom: 0;
}

#restaurantname {
    width: 100%;
    height: 20px;
    text-shadow: 0;
    text-align: left;
    font-size: 20px;
    font-weight: 30;
    padding: 0;
    margin: 10px 20px 20px 30px;
    color: black;
    font-family: 'メイリオ';
}

#map-and-info{
    width:100%;
    height: 200px;
    background-color: #FFFFF0;
}

#map_canvas{
    width: 50%;
    float: left;
    height: 200px;
    text-align: center;
}

#info{
    width: 50%;
    height: 200px;
    float: right;
    text-shadow: 0;
    text-align: center;
    font-size: 100%;
    font-weight: 30;
    padding: 10 10 10 10;
    margin: 0 auto;
    color: black;
    font-family: 'Arial';
    overflow-y: auto;
}



hstar{
    font-family: 'Arial';
    font-size: 10;
}

hdistance{
    font-family: 'Arial';
    font-size: 10;
}

div.tabbox{
    margin: 0;
    padding: 0;
    width: 100%;
}

p.tabs{
    margin: 50px 0 0 0; padding: 0px;
}

p.tabs a {
    display: block; width: 5em; float: left;
    margin: 0 1 0 0; padding: 3;
    text-align: center;
    border-radius: 12px 12px 0 0;
}

p.tabs a.tab1{
    background-color: seashell; color: black;
}
p.tabs a.tab2{
    background-color: lavenderblush; color: black;
}
p.tabs a.tab3{
    background-color: mistyrose; color: black;
}
p.tabs a:hover {
    color: yellow;
}

div.tab{
    height: 300px;
    overflow: auto;
    clear: left;
}

div#tab1{
    border: 2px solid seashell;
    background-color: seashell;
}
div#tab2{
    border: 2px solid lavenderblush;
    background-color: lavenderblush;
}
div#tab3{
    border: 2px solid mistyrose;
    background-color: mistyrose;
}
div.tab p{
    margin: 0.5em;
}


#backbutton{
    margin-top: 23px;
    
}

/**
 * Large Button Component
 * http://components.onsenui.io/
 */
 .button--choice1{
    width:150px;
    height:200px;
    position: relative;
    text-align: center;
    border: 1px solid #DDD;
    color: #111;
    
    background: -moz-linear-gradient(top,#FF9999 0%,#FF9999 50%,#FF99AB 50%,#FF99AB);
    background: -webkit-gradient(linear, left top, left bottom,from(#FF9999), color-stop(0.5,#FF9999), color-stop(0.5,#FF99AB),  to(#FF99AB));
    
    background: ;
    padding: 50px 30px 50px 30px;
    font-family: 'メイリオ';
    font-weight: normal;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
 }

 .button--choice2{
    width:150px;
    height:200px;
    position: relative;
    text-align: center;
    border: 1px solid #DDD;
    color: #111;

    
    background: -moz-linear-gradient(top,#87CEFA 0%,#87CEFA 50%,#87CEEB 50%,#87CEEB);
    background: -webkit-gradient(linear, left top, left bottom,from(#87CEFA), color-stop(0.5,#87CEFA), color-stop(0.5,#87CEEB),  to(#87CEEB));
    
    padding: 50px 30px 50px 30px;
    font-family: 'メイリオ';
    font-weight: normal;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;;
 }
 

.button--back{
    text-align: center;
  　position: relative;
    background-color: #D2B48C;
    margin-left: 30px;
    margin-top: 17px;
    vertical-align: middle;
    border: 1px solid #DDD;
    color: black;
    font-size: 10;
    padding: 5px 5px 5px 5px;
}
.button--research{
    text-align: center;
  　position: relative;
    background-color: #D2B48C;
    margin-left: 150px;
    margin-top: 1px;
    vertical-align: middle;
    border: 1px solid #DDD;
    color: black;
    font-size: 10;
    padding: 5px 5px 5px 5px;
    
}


