body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: #5e5e5e;
    font-family: 'メイリオ';
}



#header{
  display: table;
  table-layout: fixed;
  padding: 12px 30px;
  width: 100%;
  height:60px;
  font-family: 'メイリオ';
  background-color: #FFCC66;
  text-align: center;
  vertical-align: middle;
  position: relative;
  box-sizing: border-box;
}

#header .header_content{
  display: table-cell;
  height: 40px;
  width: 150px;
  color: white;
  font-family: 'メイリオ';
  font-size: 20px;
  letter-spacing: 0.05em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#header .header_title{
  margin-top: 5px;
}


#header img{
  vertical-align: middle;
}

.logo1{
  width: 50px;
}

.logo2{
  width: 100px;
}
#header p{
  float: left;
  margin-top: 9px;;
}

#footer{
    background-color: #FFFFF0;
    height:70px;
    width:100%;
    position: fixed;
    bottom: 0;
}

h1 {
    width: 100%;
    text-shadow: 0;
    text-align: center;
    font-size: 25px;
    font-weight: 100;
    padding: 0;
    margin: 30px 0 20px 0;
    font-family: 'Arial';
}

#hques{
    width: 100%;
    text-shadow: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    padding: 0;
    margin: 0 auto;
    font-family: 'メイリオ';
}

.button_box{
  display: block;
  height: 400px;
}

#alone{
    margin: 30px 0 20px 0;
    width: 100%;
    float: left;
    height: 60px;
}

#alone a{
  font-size: 13px;
  text-decoration: none;
    margin-bottom: 10px;
}

#withsomeone{
    margin: 40px 0 20px 0;
    width: 100%;
    float: left;
    height: 60px;
}
#withsomeone a{
  font-size: 13px;
  text-decoration: none;
}

#withsomeone2{
    margin: 40px 0 0 0;
    width: 100%;
    float: left;
    height: 60px;
}
#withsomeone2 a{
  font-size: 13px;
  text-decoration: none;
  margin-bottom: 10px;
}

#choice1{
    margin: 0 0 0 20px ;
    width: 28%;
    float: left;
}

#choice2{
    margin: 0 0 0 10px;
    width: 28%;
    float: left;
}

#choice3{
    margin: 0 0 0 10px;
    width: 28%;
    float: left;
}



#backbutton{
    margin-top: 23px;

}

/**
 * Large Button Component
 * http://components.onsenui.io/
 */
 .button--choice1{
    width:20%;
    height:50px;
    position: relative;
    text-align: center;
    border: 1px solid #DDD;
    color: #5e5e5e;

    background: -moz-linear-gradient(top,#FF9999 0%,#FF9999 50%,#FF99AB 50%,#FF99AB);
    background: -webkit-gradient(linear, left top, left bottom,from(#FF9999), color-stop(0.5,#FF9999), color-stop(0.5,#FF99AB),  to(#FF99AB));

    background: ;
    padding: 25px 0 25px 0;
    font-family: 'メイリオ';
    font-weight: normal;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
     display: table-cell;
     vertical-align: middle;
 }

 .button--choice2{
    width:20%;
    height:50px;
    position: relative;
    text-align: center;
    border: 1px solid #DDD;
    color: #5e5e5e;


    background: -moz-linear-gradient(top,#87CEFA 0%,#87CEFA 50%,#87CEEB 50%,#87CEEB);
    background: -webkit-gradient(linear, left top, left bottom,from(#87CEFA), color-stop(0.5,#87CEFA), color-stop(0.5,#87CEEB),  to(#87CEEB));

    padding: 25px 0 25px 0;
    font-family: 'メイリオ';
    font-weight: normal;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    display: table-cell;
    vertical-align: middle;

 }

.foot{
  text-align: center;
}

.button--back{
    text-align: center;
    position: relative;
    margin-top: 17px;
    vertical-align: middle;
    text-decoration: none;
    font-size: 10;
    padding: 5px 5px 5px 5px;
    color: #5e5e5e;
}
